.page{
    width: 100%;
    .title{
        margin-left: 20px;
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
        text-align: left;
        .text{
            margin-left: 15px;
            font-weight: bold;
        }
    }
}

.empty{
    text-align: center;
    padding: 30px 0;
}