.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
}

.repo-bg-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #24292e;
    .repo-info-title {
      color: #ffffff;
      font-size: 50px;
      margin: 25px;
      text-align: center;
    }
    .fork {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 10px;
  
      .fork-title {
        margin-left: 10px;
        color: #fff;
        font-size: 30px;
      }
    }
  
    .repo-info-desc {
      text-align: center;
      color: #ffffff;
      font-size: 30px;
      margin: 5px 25px 90px 25px;
    }
}

.repo-number-view {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    border-radius: 10px;
    width: 700px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  
    .repo-number-item-view {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 30px 0;
  
      .repo-number-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
  
      .repo-number-title {
        color: #333333;
        font-size: 34px;
      }
    }
  
    .share-item-view {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 0 0 15px 0;
    }
  }
  
  .repo-share-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
    border-radius: 10px;
    width: 700px;
    background-color: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  
    .repo-share-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #ffffff;
      margin: 15px 0;
  
      .repo-share-title {
        color: #333333;
        font-size: 32px;
      }
    }
  }
  .action-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
  }
  
  .action-button-title {
    font-size: 34px;
    color: #333333;
    margin-top: -45px;
  }
  
  .action-button::after {
    border: none;
  }